<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FormApiE_Commerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FormApiE_Commerce.Properties.Settings>
            <setting name="IdUsuario" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimerNombre" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimerApellido" serializeAs="String">
                <value />
            </setting>
            <setting name="Correo" serializeAs="String">
                <value />
            </setting>
            <setting name="Telefono" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
        </FormApiE_Commerce.Properties.Settings>
    </userSettings>
</configuration>